<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/libs/bootstrap-4.4.1/css/bootstrap.min.css">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="/libs/popper/popper.min.js"></script>
    <script src="/libs/jquery/jquery-3.4.1.min.js"></script>
    <script src="/libs/bootstrap-4.4.1/js/bootstrap.bundle.in.js"></script>

    <script src="/js/nuevo-producto.js"></script>
    <script src="/js/consulta-productos.js"></script>


    <title>consultar producto</title>


</head>
<body>

<div class="container mt-4">
    <table class="table table-hover" id="t-productos">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Producto</th>
            <th scope="col">Stock</th>
            <th scope="col">Precio</th>
            <th scope="col">Fecha de Creación</th>
            <th scope="col">Alta de producto</th>
            <th scope="col">Baja de producto</th>
            <th scope="col">Imagen</th>
            <th scope="col">Editar</th>
            <th scope="col">Eliminar</th>

        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <div class="container" style="width:100%;text-align: right">
        <a class="btn btn-outline-secondary" href="/productos/page/nuevo-producto" role="button">Nuevo producto</a>
    </div>
</div>

</body>
</html>