<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <title>consultar producto</title>

    <!-- <script src="/js/nuevo-producto.js"></script> -->
    <script src="/libs/jquery/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body>

<div class="container mt-4">
    <table class="table table-hover">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Producto</th>
            <th scope="col">Stock</th>
            <th scope="col">Precio</th>
            <th scope="col">Fecha de Creación</th>
            <th scope="col">Imagen</th>
            <th scope="col">Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="producto:${productos}">
            <td th:text="${producto.nombre}"></td>
            <td th:text="${producto.stock}"></td>
            <td th:text="${producto.precio}"></td>
            <td th:text="${producto.fechaAlta}"></td>
            <td></td>
            <td>
                <a th:href="@{/productos/listar/}+${producto.id}" class="btn btn-info"><i class="material-icons" style="color:white">edit</i></a>
                <a class="btn btn-danger"><i class="material-icons" style="color:white">delete</i></a>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="container" style="width:100%;text-align: right">
        <a th:href="@{/productos/page/nuevo}" class="btn btn-outline-secondary">Nuevo producto</a>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>