<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head >
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/libs/bootstrap-4.4.1/css/bootstrap.min.css">
    <script src="/libs/jquery/jquery-3.4.1.min.js"></script>
    <script src="/libs/popper/popper.min.js"></script>
    <script src="/libs/bootstrap-4.4.1/js/bootstrap.bundle.in.js"></script>
    <script src="/js/regresar.js"></script>
    <title></title>
</head>
<body>
<div class="jumbotron jumbotron">
    <div class="container">
        <h1 class="display-3">Detalle del producto en Almacen</h1>
    </div>
</div>
<div class="container ">

    <div class="card bg-light">
        <div class="card-header list-group-item" ></div>
        <div class="card-body">

            <table class="table table-striped">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Fecha</th>
                    <th>Cantidad</th>
                    <th>Producto</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="alta: ${DTO}">
                    <td th:text="${alta.id}"></td>
                    <td th:text="${alta.fecha}"></td>
                    <td th:text="'+'+${alta.cantidad}"></td>
                    <td th:text="${alta.producto.nombre}"></td>
                </tr>
                </tbody>

            </table>
        </div>
    </div>

    <p id="id_producto" th:text="${id}"></p>

    <button id="btn-ra" class="btn btn-success align-content-lg-center">Regresar</button>
</div>


</body>
</html>